@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
  }
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
